* {
    font-family: Nunito;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.borderTog {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 50px;
    height: 30px;
    border: none;
    left: 0;
    display: none;
}

.borderTog:focus {
    outline: none;
}

body {
    background-color: #2f4353;
    background-image: linear-gradient(360deg, white 100%, white 100%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    position: relative;
}

.nav-bar {
    height: 150px;
    top: 0;
    color: black;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
  
.dropdown label {
    font-size: 18px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    letter-spacing: .2em;
    text-transform: uppercase;
    background-color: white;
    position: relative;
    font-family: inherit;
}

/* NOTE: Make logo postion absolute NOTE:*/
.logo {
    display: flex;
    align-items: center;
}

.logo-int {
    text-align: center;
}

.logo-int h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    line-height: 60px;
}

.logo-int p {
    letter-spacing: 1.06em;
    text-indent: 1.25em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.nav-menu {
    font-size: 18px;
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu ul li {
    padding: 20px;
    display: flex;
}

.nav-menu ul li button:focus {
    outline: 0;
}

.nav-menu ul li button {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    border: none;
    color: black;
    font-family: nunito;
    text-transform: uppercase;
    letter-spacing: .2em;
    position: relative;
}

.nav-menu ul li button:after {
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: black;
    transition: width 1s ease;
    -webkit-transition: width 1s ease;
}

.nav-menu ul li button:hover:after {
    width: 100%;
    left: 0;
    background: black;
}

.nav-menu ul li a {
    text-decoration: none;
    color: black;
    font-family: nunito;
    text-transform: uppercase;
    letter-spacing: .2em;
    position: relative;
}

.nav-menu ul li a:after {
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: black;
    transition: width 1s ease;
    -webkit-transition: width 1s ease;
}

.nav-menu ul li a:hover:after {
    width: 100%;
    left: 0;
    background: black;
}

.cat-drop-container {
    display: none;
    position: absolute;
    margin-top: 10px;
    background: white;
    min-width: 120px;
    max-height: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.cat-button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.show-cat-drop {
    display: block;
}

.cat-drop-container a {
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    transition: ease .2s all;
}

.cat-drop-container a:hover {
    background-color: black;
    color: white;
}

.nav-menu ul li .cat-drop-holder .cat-drop-container a:after {
    display: none;
}

.underHeader {
    text-transform: uppercase;
    letter-spacing: .2em;
    text-indent: .2em;
    text-align: center;
    margin-top: 200px;
    padding: 0 50px;
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 190px 190px 280px;
    grid-gap: 20px;
    grid-template-areas: 
    "articleCard articleCard bookCard songCard"
    "articleCard articleCard movieCard movieCard"
    "pictureCard pictureCard pictureCard pictureCard";
    margin: 40px 100px 80px 100px;
    justify-content: center;
}

.cardBox {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
    align-items: center;
    border-radius: 2px;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .1s;
    -webkit-transition: transform .1s;
    transition-timing-function: linear;
}

.cardLink {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cardBox:hover {
    transform: scale(1.05);
}

.cardType {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
    text-underline-position: under;
    font-size: 12px;
    letter-spacing: .1em;
    transform:scale(1.15,1);
}

.cardHeadline {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 20px;
    margin: 20px 0px;
}

.cardBy {
    font-family: Merriweather;
    font-style: italic;
    font-weight: 300;
}

.cardLink {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.48) 50%, rgba(0, 0, 0, 0) 75%);
}

#articleCard {
    grid-area: articleCard;
}

#bookCard {
    grid-area: bookCard;
}

#songCard {
    grid-area: songCard;
}

#movieCard {
    grid-area: movieCard;
}

#pictureCard {
    grid-area: pictureCard;
}

.qBox {
    background: url('/img/parallaxBG.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    height: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qBoxQuote {
    font-size: 30px;
    font-family: Merriweather;
    font-weight: 200;
    margin: 10px 30px;
}

.qBoxAuthor {
    font-family: Merriweather;
    font-style: italic;
}

.card-holder-2 {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: 340px;
    grid-gap: 20px;
    grid-template-areas: 
    "recipeCard artCard websiteCard";
    margin: 80px 100px 10px 100px;
    justify-content: center;
}

#recipeCard {
    grid-area: recipeCard;
}

#artCard {
    grid-area: artCard;
}

#websiteCard {
    grid-area: websiteCard;
}

.card-holder-3 {
    display: grid;
    grid-template-columns: 250px 520px 250px;
    grid-template-rows: 250px 250px;
    grid-gap: 20px;
    grid-template-areas: 
    "podcastCard gadgetCard tweetCard"
    "podcastCard gadgetCard funnyCard";
    margin: 20px 100px 80px 100px;
    justify-content: center;
}

#podcastCard {
    grid-area: podcastCard;
}

#gadgetCard {
    grid-area: gadgetCard;
}

#tweetCard {
    grid-area: tweetCard;
}

#funnyCard {
    grid-area: funnyCard;
}

.card-holder-4 {
    display: grid;
    grid-template-columns: 520px 520px;
    grid-template-rows: 190px 190px 230px;
    grid-gap: 20px;
    grid-template-areas: 
    "triviaCard classCard"
    "top10Card classCard"
    "newsletterCard newsletterCard";
    margin: 80px 100px;
    justify-content: center;
}

#triviaCard {
    grid-area: triviaCard;
}

#classCard {
    grid-area: classCard;
}

#top10Card {
    grid-area: top10Card;
}

#newsletterCard {
    background: url('/newsletterCard/paperBG.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: newsletterCard;
}

.newsletterButton {
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #FFFFFF;
    width: 224px;
    height: 68px;
    text-transform: uppercase;
    letter-spacing: .145em;
    font-size: 20px;
    font-weight: 300;
    display: grid;
    align-items: center;
    justify-content: center;
}

#comingSoon {
    font-size: 10px;
}

footer {
    background-color: black;
    height: 210px;
    bottom: 0;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

}

footer p {
    color: rgba(255, 255, 255, 0.2);
}

.footerLinks {
    list-style: none;
    display: flex;
}

.footerLinks li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    margin: 20px;
}

.footerLinks li a:after {
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 1s ease;
    -webkit-transition: width 1s ease;
}

.footerLinks li a:hover:after {
    width: 100%;
    left: 0;
    background: white;
}


/* iPad Pro Settings */
@media (max-width: 1090px) {

    .dropdown label {
        display: none;
    }

    .card-holder {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: 250px 250px 250px;
        grid-template-areas: 
        "articleCard bookCard"
        "songCard movieCard"
        "pictureCard pictureCard";
    }

    .card-holder-2 {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: 250px 250px;
        grid-template-areas: 
        "recipeCard websiteCard"
        "artCard artCard";
    }

    .card-holder-3 {
        grid-template-columns: 350px 350px;
        grid-template-rows: 250px 250px;
        grid-template-areas: 
        "podcastCard gadgetCard"
        "tweetCard funnyCard";
    }

    .card-holder-4 {
        grid-template-columns: 350px 350px;
        grid-template-rows: 250px 250px;
        grid-template-areas: 
        "triviaCard classCard"
        "top10Card newsletterCard";
    }
}

/* iPad Settings */
@media (max-width: 900px) {

    .logo{
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, -100px);
    }

    .nav-bar {
        display: flex;
        height: 100px;
        flex-direction: column-reverse;
        top: 120px;
        position: relative;
    }

    .nav-menu {
        display: grid;
        margin: 0;
        justify-content: center;
    }

    .dropdown {
        margin: 0;
    }

    .dropbtn {
        text-align-last: center;
    }

    .underHeader {
        margin-top: 150px;
    }

    footer {
        flex-direction: column-reverse;
        padding: 30px;
    }
}

/* iPhone Horizontal Settings */
@media (max-width: 750px)
{
    .card-holder {
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(5, 250px);
        grid-template-areas: 
        "articleCard"
        "bookCard"
        "songCard"
        "movieCard"
        "pictureCard";
    }

    .card-holder-2 {
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(3, 250px);
        grid-template-areas: 
        "recipeCard"
        "websiteCard"
        "artCard";
    }

    .card-holder-3 {
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(4, 250px);
        grid-template-areas: 
        "podcastCard"
        "gadgetCard"
        "tweetCard"
        "funnyCard";
    }

    .card-holder-4 {
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(4, 250px);
        grid-template-areas: 
        "triviaCard"
        "classCard"
        "top10Card"
        "newsletterCard";
    }

    .qBoxQuote {
        font-size: 20px;
    }
}

/* iPhone Vertical Footer Fix Settings */
@media (max-width: 500px){

    footer {
        padding: 10px;
    }

    .footerLinks {
        display: block;
        text-align: center;
    }

    .footerLinks li {
        margin: 10px;
    }
}

/* iPhone Vertical Settings */
@media (max-width: 400px){

    .card-holder {
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: repeat(5, 200px);
        grid-gap: 40px;
    }

    .card-holder-2 {
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas: 
        "recipeCard"
        "websiteCard"
        "artCard";
        grid-gap: 40px;
    }

    .card-holder-3 {
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: 
        "podcastCard"
        "gadgetCard"
        "tweetCard"
        "funnyCard";
        grid-gap: 40px;
    }

    .card-holder-4 {
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: 
        "triviaCard"
        "classCard"
        "top10Card"
        "newsletterCard";
        grid-gap: 40px;
    }

    .cardHeadline {
        font-size: 15px;
    }
}